table
{
	border:1px dotted black;
	border-collapse: collapse;
}
.head{
	color:red;
}
.head_row
{
	color:#041EFC;
}
.row_section{
	color:#D604FC;
	font-weight: 700;
	fon
}
th,td
{
	padding:10px 40px 10px 40px;
	border:1px dotted black;
	text-align:center;

}
.head_row ,.A_row, .C_row
{
	background-color: lightgrey; 
}