h2{
	padding-left:100px;
}

h3{
	padding-left: 60px;
}
#ipsa{
	margin-left: 52px;
	width:120px;
}
#ipsl,#ipc,#ipp{
	width:162px;
	margin-top:4px;
}

#ipl,#ips{
	margin-left: 120px;
	width: 120px;
}
#ipcountry{
	margin-left:60px;
	width:300px;
}
#ipname{
	margin-left:70px;
	width:130px;
}
#iplastname{
	width:150px;

}
#ipemail{
	margin-left:68px; 
	width:290px;
}
#ipphone{
	margin-left:12px;
	width:292px;
}
#ipgender{
	margin-left:60px;
	width:300px;

}
#ipcitizen{
	margin-left:60px;
	width:292px;

}
#ipd{
	margin-left:21px;
	width:80px;
}
#ipm{
	width:80px;
}
#ipy{
	width:109px;
}
form{
	position: relative;
	top:30px;
}

.subbutton{
	width:300px;
	background-color: skyblue;
	border:0px;
	padding:5px;
	color:white;
	font-weight: 700;
	position: relative;
	left:120px;
	top:20px;
}
.wrapp-container
{
	background-image:url('./images/image.jpg'); 

	color:white;
	position: absolute;
	left:450px;
	top:30px;
	border:1px solid black;
	width: 500px;
	height: 540px;
}
.text-container
{
	position:absolute;
	left:35px;
	top:5px;
}